header {
  height: auto;
}

header a {
  font-size: 1.25rem;
  font-weight: normal;
}

.canvases {
  display: flex;
}

canvas.design,
canvas.preview,
canvas.simulation {
  --margin: 0.5rem;
  flex: 1 1 auto;
  max-width: calc(100% - 2 * var(--margin));
  min-height: 70vh;
  display: block;
  margin: 0 var(--margin) var(--margin);

  border: 1px solid black;
  background: black;
}

canvas.preview,
canvas.simulation {
  display: none;
}

canvas.design {
  cursor: crosshair;
}

canvas.design.pan {
  cursor: move;
  cursor: -webkit-grab;
}

.tools button,
.presets button {
  --margin: 8px;

  width: calc(100% - 2 * var(--margin));
  max-width: 15em;
  margin: var(--margin);
}

.tools button.active {
  outline: 5px solid yellow;
}
