header {
  height: auto;
}

header a {
  font-size: 1.25rem;
  font-weight: normal;
}

.canvases {
  display: flex;
}

canvas.design,
canvas.simulation {
  --margin: 0.5rem;
  flex: 1 1 auto;
  max-width: calc(100% - 2 * var(--margin));
  min-height: 80vh;
  display: block;
  margin: 0 var(--margin) var(--margin);

  border: 1px solid black;
  background: black;
}

canvas.design {
  cursor: none;
}
