/* RESETS ////////////////////////////////////////////////////////////////////*/

* {
  padding: 0px;
  margin: 0px;
}

/* FONTS /////////////////////////////////////////////////////////////////////*/

/* CONTAINERS ////////////////////////////////////////////////////////////////*/

html {
  font-family: 'Signika', sans-serif;
  overflow-y: scroll;
  font-size: 20px;
}

body {
  position: absolute;
  /* credit to www.subtlepatterns.com */
  background: url("../images/topography.png");

  min-width: 100%;
  min-height: 100vh;
}

section {
  padding: 8px;
  margin: 8px auto;
  max-width: 800px;
  background-color: #E8E8E0;

  -webkit-box-shadow: 4px 4px 1px #A8A8B0;
     -moz-box-shadow: 4px 4px 1px #A8A8B0;
      -ms-box-shadow: 4px 4px 1px #A8A8B0;
       -o-box-shadow: 4px 4px 1px #A8A8B0;
          box-shadow: 4px 4px 1px #A8A8B0;
}

section:last-of-type {
  margin-bottom: 32px;

  text-align: justify;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 4px;

  color: #D8D8D0;
  font-size: 20px;
  text-align: right;

  height: 24px;
  line-height: 24px;

  background-color: #202028;
}

figure {
  display: table;
  margin: 8px;

  background-color: #E0E0E8;
}

figcaption {
  display: table-caption;
  caption-side: bottom;

  background-color: #E0E0E8;

  padding: 0px 4px 4px 4px;

  font-size: 14px;
  text-align: center;
}

ul {
  max-width: 900px;
  margin: 8px 8px 8px 24px;
  padding: 0px 8px 8px 8px;

  line-height: 1.4em;

  position: relative;
}

ul li {
  padding: 8px;
}

/* FORMS /////////////////////////////////////////////////////////////////////*/

/* NAVBARS ///////////////////////////////////////////////////////////////////*/

header {
  background: rgb(48, 48, 56);
  background: -webkit-linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), #000000 url("../images/water_lily.jpg") no-repeat right;
  background:    -moz-linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), #000000 url("../images/water_lily.jpg") no-repeat right;
  background:      -o-linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), #000000 url("../images/water_lily.jpg") no-repeat right;
  background:         linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), #000000 url("../images/water_lily.jpg") no-repeat right;

  background-size: cover;
  background-position: center, center -146px;

  padding-top: 150px;
}

nav {
  background-color: #202028;
}

nav ul {
  margin: 0 auto;
  padding: 0px;

  width: 100%;
  max-width: 800px;

	list-style: none;
}

nav ul li {
  padding: 0;
	display: inline-block;

	text-align: center;

	font-size: 20px;
}

nav ul li a, nav ul li a:hover, nav ul li a:visited {
  padding: 10px 20px;
  color: #DCDCD4;

	display: inline-block;

	text-decoration: none;
}

nav ul li a:hover {
  color: #000008;
  background-color: #E8E8E0;
}

/* TABLES ////////////////////////////////////////////////////////////////////*/

/* TEXTS /////////////////////////////////////////////////////////////////////*/

span.bold {
  font-weight: bold;
}

span.italic {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 8px;
  line-height: 1.6;
}
