/* RESETS ////////////////////////////////////////////////////////////////////*/

* {
  padding: 0px;
  margin: 0px;
}

/* FONTS /////////////////////////////////////////////////////////////////////*/

/* CONTAINERS ////////////////////////////////////////////////////////////////*/

html {
  font-family: 'Signika', sans-serif;
  overflow-y: scroll;
}

body {
  position: absolute;
  /* credit to www.subtlepatterns.com */
  background: url("../images/topography.png");

  min-width: 100%;
  min-height: 100vh;
}

section {
  padding: 8px;
  margin: 8px;
  background-color: #E8E8E0;

  -webkit-box-shadow: 4px 4px 1px #A8A8B0;
     -moz-box-shadow: 4px 4px 1px #A8A8B0;
      -ms-box-shadow: 4px 4px 1px #A8A8B0;
       -o-box-shadow: 4px 4px 1px #A8A8B0;
          box-shadow: 4px 4px 1px #A8A8B0;
}

section:last-of-type {
  margin: 8px 8px 32px 8px;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 4px;

  color: #D8D8D0;
  font-size: 20px;
  text-align: right;

  height: 24px;
  line-height: 24px;

  background-color: #202028;
}

figure {
  display: table;
  margin: 8px;

  background-color: #E0E0E8;
}

figcaption {
  display: table-caption;
  caption-side: bottom;

  background-color: #E0E0E8;

  padding: 0px 4px 4px 4px;

  font-size: 14px;
  text-align: center;
}

/* FORMS /////////////////////////////////////////////////////////////////////*/

/* NAVBARS ///////////////////////////////////////////////////////////////////*/

nav {
  position: relative;

  background: rgb(48, 48, 56);
  background: -webkit-linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), url("../images/water_lily.jpg") no-repeat right;
  background:    -moz-linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), url("../images/water_lily.jpg") no-repeat right;
  background:      -o-linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), url("../images/water_lily.jpg") no-repeat right;
  background:         linear-gradient(45deg, rgba(48, 48, 56, 0.7) 45%, rgba(48, 48, 56, 0) 75%), url("../images/water_lily.jpg") no-repeat right;

  background-size: cover;

  width: 100%;
  height: 128px;
}

nav ul {
  position: absolute;
  bottom: 0px;

  width: 100%;

	background-color: #202028;

	list-style: none;

	font-size: 0px;
}

nav ul li {
	width: 96px;
	height: 32px;

	display: inline-block;

	line-height: 32px;
	text-align: center;

	font-size: 20px;
}

nav ul li a, nav ul li a:hover, nav ul li a:visited {
  color: #DCDCD4;

	width: 100%;
	height: 100%;

	display: inline-block;

	text-decoration: none;
}

nav ul li a:hover {
  color: #000008;
  background-color: #E8E8E0;
}

/* TABLES ////////////////////////////////////////////////////////////////////*/

/* TEXTS /////////////////////////////////////////////////////////////////////*/

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 8px;
  line-height: 1.5em;
}
